<div class="container top-section">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="inner-content centered-block percent-90">
            <h1>Why We Exist</h1>
        <!--<h4 class="subtitle red">Why We Exist</h4>-->
          <p>At One Life we believe that serving others should start with unconditional love. It's in our love that we meet the poor in the streets, slums, and villages where they live and we discover that we are brothers, sisters, and fellow humans. Every man, woman, and child deserves a chance to be the best that they can be. Unfortunately, not everyone starts on a level playing field.</p>
          <p class="with-top-margin">Founding member, Pete Wilson, visited Calcutta, India in 2009 and met a man and woman who were doing part-time tutoring in a slum. After hearing their vision and seeing their work in action, he began a financial parternship with them, so they could devote themselves to the work full-time. These two people, Piyas Dey and Jaiashree Francis, lead the current programs in Calcutta.</p>
          <p class="with-top-margin">In 2011, Pete brought Andy and Seth to Calcutta with him to see the work first hand. The trip made them ask hard questions, and they decided to return to Calcutta 7 months later. It was on this trip, they decided to begin One Life. From the first site where Piyas and Jaiashree began the work, there are now <a href="/our_work" class="red">five community partnerships</a> throughout Calcutta.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid grey-bg with-large-top-margin">
  <div class="container with-top-margin">
    <div class="row">
      <div class="col-xs-12 centered-block">
        <h1>Meet Our Team</h1>
      </div>
    </div>
    <div class="row centered-block with-top-margin">
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/andy-thumb.png") %></div>
          <h4> Andy Merrick </h4>
          <span class="tag"> [PRESIDENT]</span>
        </div>
        <p class="bio">Andy graduated from Miami University in 2003 with a degree in finance and has been a software developer since then. In his professional career, Andy has led large projects with big budgets and loves the roles and responsibilities of leading and serving a team.</p>
      </div>
            <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/seth-thumb.png") %></div>
          <h4> Seth Jones </h4>
          <span class="tag"> [VICE PRESIDENT, DEVELOPMENT]</span>
        </div>
        <p class="bio">Seth graduated from Belmont University in 2007 with a degree in Music Business. He is a songwriter and producer and works with a variety of different musical artists. Seth lives in Los Angeles with Betsy, his wife of seven years.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/pete-thumb.png") %></div>
          <h4> Pete Wilson </h4>
          <span class="tag"> [VICE PRESIDENT, HR]</span></div>
        <p class="bio">Pete is the founding pastor of Cross Point Church in Nashville, Tennessee, one of the ten fastest-growing churches in the United States. He is married to his college sweetheart and has three boys.</p>
      </div>
    </div>
    <div class="row centered-block ">
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
        <div><%= image_tag("staff-assets/melanie-thumb.png") %></div>
        <h4> Melanie Hall </h4>
        <span class="tag"> [DIR. OF DESIGN & DEVELOPMENT]</span></div>
        <p class="bio">Melanie graduated from Taylor University in 2012 with a degree in Graphic Design. She now works as a software developer and is passionate about building platforms and tools that inspire positive change.</p>
      </div>
            <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/piyas-thumb.png") %></div>
          <h4> Piyas Dey </h4>
          <span class="tag"> [DIR. OF OPERATIONS, CALCUTTA]</span>
        </div>
        <p class="bio"></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/jaiashree-thumb.png") %></div>
          <h4> Jaiashree Francis</h4>
          <span class="tag"> [DIR. OF PROGRAMS, CALCUTTA]</span>
        </div>
        <p class="bio"></p>
      </div>
    </div>
  </div>
  <div class="footer-spacer"></div>
</div>

<script>
  $(document).ready(function(){
    $('.our-story-link').addClass('active');
  });
</script>