<div class="history-photo hide visible-xs">
  <%= image_tag("https://s3.amazonaws.com/one-life/history-pete.jpg") %>
</div>
<div class="container top-section">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="inner-content centered-block percent-90">
            <h1>Why We Exist</h1>
        <!--<h4 class="subtitle red">Why We Exist</h4>-->
          <p>Love is a great word. And it's even greater when it puts on clothes and goes out into the world. It's in love that we meet the poor in the streets, slums, and villages where they live and we discover we're fellow humans, brothers, and sisters. Every man, woman, and child deserves a chance to be the best they can be. But we all know that not everyone starts on a level playing field.</p>


<p class="with-top-margin">Our work at One Life centers around the idea that people know what's best for their own communities. We brainstorm with members of each place we work to understand the skills they already have and identify what's preventing them from becoming even more excellent at those things. Once their barriers are outlined, we work together to determine which ones should be addressed first. As obstacles are removed, their wellness improves and lives begin to rise. In the process, we learn about life from them - gaining perspectives we could never have imagined just a few short years ago.</p>

<p class="with-top-margin">Calcutta is our place. So many people struggle there that we don't foresee a time where we'd do work anywhere else. Our great hope is to be an inch wide and a mile deep - serving a handful communities in massive ways to increase the likelihood that people there get themselves out of poverty. We all have a single shot at living and we want to do the best we can with all we've been given. One Life. Full Love.</p>

<p class="with-top-margin">To achieve all this, we currently assist communities in implementing projects that help with clean water, nutrition, sanitation, hygiene, health care, education, job training, and business development. The end goal is that leaders in the community become excellent at leading and governing so that, over the course of time, the lives of community members become exactly as they desire without any outside assistance from us.</p>


<p class="with-top-margin">Founding member, Pete Wilson, visited Calcutta, India in 2009 and met a man and woman who were doing part-time tutoring in a slum. After hearing their vision and seeing their work in action, he began a financial parternship with them, so they could devote themselves to the work full-time. These two people, Piyas Dey and Jaiashree Francis, lead the current programs in Calcutta.</p>

<p class="with-top-margin">In 2011, Pete brought Andy and Seth, our other founding members, to Calcutta with him to see the work first hand. The trip made them ask hard questions and they decided to return to Calcutta seven months later and spend more time with the people there. It was on this trip that they decided to begin One Life. They realized that Piyas and Jaiashree and the burgeoning work didn't need more Americans on the ground. It needed financial assistance. From the first community where Piyas and Jaiashree began the work, there are now five community partnerships throughout Calcutta with a full-time staff of 32. Three more communities are scheduled to be added throughout 2015-2016.</p>
      </div>
    </div>
  </div>
</div>

<div class="history-photo with-large-top-margin hidden-xs">
  <img src="http://s3.amazonaws.com/one-life/history-pete.jpg">
</div>

<div class="container-fluid grey-bg">
  <div class="container with-top-margin">
    <div class="row">
      <div class="col-xs-12 centered-block">
        <h1>Meet Our Team</h1>
      </div>
    </div>
    <div class="row centered-block with-top-margin">
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/andy-thumb.png") %></div>
          <h4> Andy Merrick </h4>
          <span class="tag"> [PRESIDENT]</span>
        </div>
        <p class="bio">Andy graduated from Miami University in 2003 with a degree in finance and has been a software developer since then. In his professional career, Andy has led large projects with big budgets and loves the roles and responsibilities of leading and serving a team.</p>
      </div>
            <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/seth-thumb.png") %></div>
          <h4> Seth Jones </h4>
          <span class="tag"> [VICE PRESIDENT, DEVELOPMENT]</span>
        </div>
        <p class="bio">Seth graduated from Belmont University in 2007 with a degree in Music Business. He is a songwriter and producer and works with a variety of different musical artists. Seth lives in Los Angeles with Betsy, his wife of seven years.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/pete-thumb.png") %></div>
          <h4> Pete Wilson </h4>
          <span class="tag"> [VICE PRESIDENT, HR]</span></div>
        <p class="bio">Pete is the founding pastor of Cross Point Church in Nashville, Tennessee, one of the ten fastest-growing churches in the United States. He is married to his college sweetheart and has three boys.</p>
      </div>
    </div>
    <div class="row centered-block ">
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
        <div><%= image_tag("staff-assets/melanie-thumb.png") %></div>
        <h4> Melanie Hall </h4>
        <span class="tag"> [DIR. OF DESIGN & DEVELOPMENT]</span></div>
        <p class="bio">Melanie graduated from Taylor University in 2012 with a degree in Graphic Design. She now works as a software developer and is passionate about building platforms and tools that inspire positive change.</p>
      </div>
            <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/piyas-thumb.png") %></div>
          <h4> Piyas Dey </h4>
          <span class="tag"> [DIR. OF OPERATIONS, CALCUTTA]</span>
        </div>
        <p class="bio"></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="staff-name" align="center">
          <div><%= image_tag("staff-assets/jaiashree-thumb.png") %></div>
          <h4> Jaiashree Francis</h4>
          <span class="tag"> [DIR. OF PROGRAMS, CALCUTTA]</span>
        </div>
        <p class="bio"></p>
      </div>
    </div>
  </div>
  <div class="footer-spacer"></div>
</div>

<script>
  $(document).ready(function(){
    $('.our-story-link').addClass('active');
  });
</script>