<div class="container top-section">
  <div class="inner-content percent-90">
    <div class="row">
      <div class="col-xs-12 col-md-9">
          <div class="inner-content percent-90">
              <h1>What We Do</h1>
          <!--<h4 class="subtitle red">Why We Exist</h4>-->
            <p>We partner with five communities in Kolkata, India to create equal opportunities among the lives of it's poorest citizens, those making less than $2/day. We believe holistic development and increased community ownership has the potential to change thousands of lives. We're implementing development through these programs:</p>
        </div>
      </div>
    </div>
  <div class="programs-block">
    <div id="isotope-demo" class="isotope">
      <div class="element-item width2">
      <%= image_tag("program-assets/education.png") %>
      </div>
      <div class="element-item">
      <%= image_tag("program-assets/water-sanitation.png") %>
      </div>
      <div class="element-item">
      <%= image_tag("program-assets/job-training.png") %>
      </div>
      <div class="element-item">
      <%= image_tag("program-assets/health-wellness.png") %>
      </div>
      <div class="element-item">
      <%= image_tag("program-assets/literacy-classes.png") %>
      </div>
      <div class="element-item width2">
        <div class="element-item sq">
        <%= image_tag("program-assets/church-leadership.png") %>
        </div>
        <div class="element-item sm sq">
        <%= image_tag("program-assets/cultural-programs.png") %>
        </div>
        <div class="element-item sq">
        <%= image_tag("program-assets/bus-dev.png") %>
        </div>
        <div class="element-item sm sq">
        <%= image_tag("program-assets/counseling.png") %>
        </div>
      </div>
      <div class="element-item width2">
      <%= image_tag("program-assets/nutrition.png") %>
      </div>
    </div>
  </div>

<!--
  <div class="row center-block">
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/897-graduation-cap%402x.png">
            <i class="fa fa-graduation-cap fa-10x"></i>
            <h4>Education</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/742-wrench%402x.png">
            <i class="fa fa-briefcase fa-10x"></i>
            <h4>Vocational Training</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/794-chart%402x.png">
            <i class="fa fa-bar-chart-o fa-10x"></i>
            <h4>Nutritional Program</h4>
          </div>
        </div>
      </div>
    </div>
     <div class="row center-block program-square">
      <div class="col-xs-4">
      <div class="grey-square">
        <div class="inner-content">
          <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/748-heart%402x.png">
        <i class="fa fa-stethoscope fa-10x"></i>
        <h4>Health and Wellness</h4>
      </div>

      </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-pencil fa-10x"></i>
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/832-pencil%402x.png">
            <h4>Literacy Classes</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <i class="fa fa-tint fa-10x"></i>
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/799-beverage%402x.png">
            <h4>Water Sanitation</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-block">
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/872-podium%402x.png">
            <i class="fa fa-heart-o fa-10x"></i>
            <h4>Church Leadership</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/842-chat-bubbles%402x.png">
            <i class="fa fa-comments-o fa-10x"></i>
            <h4>Counseling</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-4 program-square">
        <div class="grey-square">
          <div class="inner-content">
            <img class="program-icon" src="https://s3.amazonaws.com/one-life/icons/837-palette%402x.png">
            <i class="fa fa-headphones fa-10x"></i>
            <h4>Cultural Programs</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="footer-spacer"></div>
<style>
    /* ---- isotope ---- */
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 230px;
  height: auto;
  margin: 5px;
  padding: 0px;
  color: #FFF;
}

.element-item.sm{
  margin-left: 8px;
}

.element-item.sq{
  margin-bottom: 8px;
}

.element-item img{
  max-width: 100%;
}

  .element-item a img{
    opacity: .8;
  }
  .element-item a:hover img{
    opacity: 1;
  }


.element-item.width2 { width: 468px; height: auto;}
.element-item.height2 { height: auto; }

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

  #stories #isotope-demo{
    max-width: 270px;
    margin: 0px auto;
  }

  @media(max-width: 1200px){
  </style>
<script type="text/javascript" src="http://isotope.metafizzy.co/beta/isotope.pkgd.js"></script>
<script>
  $(document).ready(function(){

    $(window).load(function(){
      function showElements(){
        $('.back-to-top-mobile').show();
      };
      window.setTimeout( showElements, 200 ); // 5 seconds
    })
    $.fn.scrollView = function () {
      return this.each(function () {
        $('html, body').animate({
          scrollTop: $(this).offset().top
        }, 1000);
      });
    };
    $('.what-we-do-link').addClass('active');

      var $container = $('#isotope-demo').imagesLoaded( function() {
        $container = $('#isotope-demo').isotope({
          itemSelector: '.element-item',
          layoutMode: 'masonry',
          masonry: {
            columnWidth: 135
          }
        });
      });
  });
</script>