<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<%= javascript_include_tag "contribution", "data-turbolinks-track" => false %>

<%= simple_form_for @contribution do |f| %>
  <div class="validation-errors"></div>
  <span class="payment-errors"></span>

  <%= f.input :first_name %><br>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :address_line1, label: "Address Line 1" %>
  <%= f.input :address_line2, label: "Address Line 2" %>
  <%= f.input :address_city, label: "City" %>
  <%= f.input :address_state, label: "State" %>
  <%= f.input :address_zip, label: "Zip Code" %>
  <%= f.input :address_country, label: "Country" %>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <div class="form-row">
    <label>
      <%= f.input :amount %>
    </label>
  </div>
  <%= f.input :monthly, :label => "I want to give monthly" %>
  <%= f.input :gift_designation, :as => :select, :collection => ["Khalpar", "Ghoraghata", "Katapakur", "Nalpur"], :include_blank => "Use my gift wherever it is most needed" %>

  <button type="submit">Submit Payment</button>
<% end %>